 .column-headers-background,
.row-headers-background {
    z-index: 1
}
 
  .ritz .waffle a {
        color: blue;
    }
    
    .ritz .waffle {
        background-color: #ffffff;
        text-align: left;
        text-decoration: none;
        font-family: 'Helvetica Neue', Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
   
      .ritz .waffle .s4 {
color: red;
    }

    .ritz .waffle .s7 {
 color: green;
    }
    
    .grid-container {
    height: 100%;
    width: 100%;
    overflow: auto
}
.waffle td,
.grid-fixed-table td {
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px 0;
    vertical-align: bottom;
    line-height: inherit;
    background-color: #fff;
    padding: 0 3px
}

.waffle .softmerge {
    overflow: visible
}

.softmerge-inner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
    position: relative
}

th.row-header {
    background-color: #eee;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    color: #333;
    line-height: inherit;
    overflow: hidden
} 
.freezebar-origin-ltr {
    height: 23px;
    width: 45px;
    position: absolute;
    top: 0px;
    border: 1px #ccc solid
}

/*.freezebar-origin-ltr {
    background: no-repeat url("//ssl.gstatic.com/docs/spreadsheets/waffle_sprite53.png") -205px 0;
    left: 0px;
    border-width: 0 1px 1px 0
}

freezebar-origin-ltr
th.tall-row,
td.tall-row {
    vertical-align: top
}

th.freezebar-origin-ltr {
    background: no-repeat url("//ssl.gstatic.com/docs/spreadsheets/waffle_sprite53.png") -205px 0
}


th.freezebar-origin-ltr,
th.freezebar-origin-rtl {
    background-color: #eee;
    position: relative
}*/

